.git
.github
.idea
.next
.vercel
node_modules
tests/dist
coverage
build
out
*.tsbuildinfo
next-env.d.ts
public/admin/static
scripts/service-account.json
.env*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
